* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
  --asideRed: #dc2626;
  --navWhite: #fbfbfb;
  --borderBlack: rgba(0, 0, 0, 0.1);
}
body {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  font-family: "Ubuntu", sans-serif;
}
img {
  width: 2em;
  opacity: 0.4;
}
/*ASIDE*/
body > aside {
  background-color: var(--asideRed);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
}

body aside header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 80%;
  align-items: center;
}
body aside header img {
  justify-self: end;
}
body aside header h1 {
  width: 100%;
  text-align: left;
  margin-left: 1em;
}
body > aside h1 {
  margin: auto;
}

body > aside main > div {
  height: 70%;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  color: #f4f4f566;
  justify-content: end;
}
body > aside main > div div {
  width: 20em;
  height: fit-content;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: end;
  grid-template-columns: 20% 80%;
  align-items: center;
  padding: 0.4em 0em;
  padding-left: 1em;
}

body > aside main > div div:hover {
  border-radius: 2em 0em 0em 2em;
  background-color: #f4f4f566;
}
/*MAIN*/
body > aside + main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 30% 60%;
  background-color: #f3f4f6;
}

/*MAIN NAVIGATION BAR*/
body > aside + main nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: fit-content;
  align-items: center;
  background-color: var(--navWhite);
  box-shadow: 0em 0.05em 0.1em 0.05em var(--borderBlack);
}

body > aside + main nav div:nth-child(1),
body > aside + main nav div:nth-child(2) div {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}

body > aside + main nav div:nth-child(1) img {
  justify-self: end;
}
body > aside + main nav div:nth-child(2) div {
  border: 1px solid var(--borderBlack);
  border-radius: 2em;
  padding: 0.25em 1em;
  box-shadow: 0em 0em 0.1em 0.05em rgba(0, 0, 0, 0.1);
}

body > aside + main nav div:nth-child(2) div input {
  border: none;
  font-size: 1em;
  padding: 0.5em 0.25em;
  background-color: var(--navWhite);
}

body > aside + main nav div:nth-child(2) {
  justify-self: center;
}

section.user {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.5em;
  padding-right: 1em;
}
section.user img {
  grid-column: 1;
  width: 3em;
  justify-self: end;
}
section.user div {
  grid-column: 2;
}
/*MAIN INSIDE MAIN*/
body > aside + main > nav + main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
}

/*MENU DATA CONTENT*/
section#dataContainer {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  column-gap: 1em;
  padding: 2em 0em;
  justify-content: space-evenly;
  align-items: center;
}

section#dataContainer section {
  border: 1px solid var(--borderBlack);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  padding: 2em 3em;
  background-color: var(--navWhite);
  box-shadow: 0em 0em 0.25em 0.01em var(--borderBlack);
}

section#dataContainer section:hover {
  background-color: var(--asideRed);
}
section#dataContainer section img {
  opacity: 1;
  width: 3em;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

section#dataContainer section p {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

section#dataContainer section p span {
  font-weight: 900;
  font-size: 2rem;
}

/*PROJECTS TABLE*/

section#projectsTable {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  row-gap: 0.3em;
  padding: 0em 2em;
}

section#projectsTable header,
section#projectsTable main,
section#newCustomers header,
section#newCustomers main {
  background-color: var(--navWhite);
  padding: 0em 1em;
  box-shadow: 0em 0em 0.1em 0.08em var(--borderBlack);
}

section#projectsTable header,
section#newCustomers header {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  padding: 1.5em 1em;
  justify-content: space-between;
  align-items: center;
}
section#projectsTable main {
  height: fit-content;
}
section#projectsTable main table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th {
  padding: 1em 0.5em;
}
td {
  padding: 0.3em;
}

td:hover {
  color: var(--navWhite);
  background-color: var(--asideRed);
}

/*NEW CUSTOMERS*/
section#newCustomers {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  row-gap: 0.3em;
  padding: 0em 1em;
}

section#newCustomers main {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1em;
}

section.customer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

section.customer img {
  width: 1.5rem;
}

section.customer section.user + div {
  justify-self: end;
  padding-left: 1em;
}
/*BUTTONS*/

button {
  background-color: var(--asideRed);
  font-size: 0.8rem;
  color: var(--navWhite);
  width: fit-content;
  padding: 1em 2em;
  border-radius: 0.5em;
  border: none;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
}
